@keyframes slideUp {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  @media screen and (max-width: 480px){
    padding: 10px 10px;
  }
  .sub-container {
    max-width: var(--card_width);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // justify-content: center;
    gap: 25px;
    padding-top: 12px;
    justify-content: flex-start;
    & span {
      color: var(--primary_1);
      font-size: 1.5rem;
      font-weight: 600;
      text-align: start;
      @media screen and (max-width:480px){
        font-size: 1.2rem;
      }
    }
    .user-content {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      max-width: var(--card_width);
      align-items: center;
      @media screen and (max-width:480px) {
        justify-content: end;
      }
      // justify-content: center;
      & input {
        font-family: inherit;
        border: none;
        min-width: 80%;
        flex-grow: 1;
        padding: 12px 20px;
        border-radius: 25px;
        font-size: 16px;
      }
      & button {
        border: 2px solid var(--secondary_3);
        padding: 10px 20px;
        border-radius: 45px;
        background-color: var(--secondary_1);
        color: var(--primary_1);
        font-size: 1rem;
        font-weight: 400;
        transition: all 0.2s;
      }
      & button:hover {
        cursor: pointer;
        background-color: var(--secondary_4);
        color: var(--primary_1);
      }
    }
    & .error-message {
      display: flex;
      color: #c40c0c;
      & h4 {
        font-weight: 500;
      }
    }
    & input:focus {
      outline: none;
    }
    & p {
      color: var(--primary_1);
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
      @media screen and (max-width:480px){
        font-size: 1.2rem;
      }
    }
    .level-selector-container {
      display: flex;
      gap: 10px;
      max-width: var(--card_width);
      justify-content: center;
      flex-wrap: wrap;
      @media screen and (max-width:480px){
        flex-direction: column;
      }
      & button {
        flex-grow: 1;
        border: 2px solid var(--secondary_3);
        padding: 10px 30px;
        border-radius: 45px;
        background-color: var(--primary_1);
        color: var(--secondary_1);
        font-size: 1.25rem;
        font-weight: 500;
        transition: all 0.2s;
      }
      & button:hover {
        transform: scale(0.8);
        cursor: pointer;
        background-color: var(--secondary_4);
        color: var(--primary_1);
      }
    }
    .leader-board {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: var(--card_width);
      max-height: 355px;
      background-color: var(--secondary_1);
      padding: 30px 0px ;
      align-items: center;
      justify-content: flex-start;
      border-radius: 12px;
      & h2 {
        font-weight: 600;
        font-size: 1.45rem;
        color: var(--primary_1);
      }
      & ul {
        width: 100%;
        max-height: 400px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
        align-items: center;
        overflow-y: auto;
      }
      & ul::-webkit-scrollbar {
        display: none;
      }
      & li {
        width: 90%;
        padding: 10px 5px;
        border: 1px solid var(--primary_1);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: lowercase;
        & .hash {
          font-size: 20px;
          display: flex;
          gap: 5px;
          align-items: flex-end;
          color: var(--secondary_2);
          font-weight: 500;
          & .user {
            font-size: var(--options_fontsize);
            text-transform: capitalize;
            margin-left: 10px;
            font-weight: 600;
          }
          & .score-rank {
            font-weight: 600;
            border-radius: 8px;
            padding: 1px 5px;
            border: 1px solid #105055;
          }
        }
      }
    }
    .hide {
      animation: slideDown 0.2s ease-in-out forwards;
    }
    .show {
      animation: slideUp 0.2s ease-in-out forwards;
      gap: 12px;
    }
  }
}
.show-btn {
  position: fixed;
  bottom: 0px;
  transform: translate(-50%);
  left: 50%;
  max-width: var(--card_width);
  width: 100%;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--primary_1);
  color: var(--secondary_1);
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.2s;
}
.show-btn:hover {
  cursor: pointer;
  background-color: var(--secondary_1);
  color: var(--primary_1);
}